body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.topNavigation{
    height: 70px;
    text-align: center;
    background-color: #00F;
    color: #fff;
    font-size: 25px;
}
.content{
    flex: 1;
    background-color: #eee;
    text-align: center;
    margin-top: 10px;
}
.table1{
	font-size: 30px;
}
.text{
	font-size: 80px;
}
